force-app/main/default/flows/PETFL_Create_Logs_For_Batch_Exceptions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Create Logs For Batch Exceptions triggerd by BatchApexErrorEvent platform events</description>
    <environments>Default</environments>
    <interviewLabel>PETFL Create Logs For Batch Exceptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PETFL Create Logs For Batch Exceptions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Logs</name>
        <label>Create Logs</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Class_Name__c</field>
            <value>
                <elementReference>Get_Async_Job.ApexClass.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_Date_Time__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobScope__c</field>
            <value>
                <elementReference>$Record.JobScope</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LogLevel__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Record.Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_Name__c</field>
            <value>
                <elementReference>$Record.Phase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StackTrace__c</field>
            <value>
                <elementReference>$Record.StackTrace</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Async_Job</name>
        <label>Get Async Job</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Logs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AsyncApexJobId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AsyncApexJob</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Async_Job</targetReference>
        </connector>
        <object>BatchApexErrorEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
